body {
    font-family: system-ui, sans-serif;
}

#imageStage {
  position: relative;
  display: inline-block;
}

#freezeImage {
  display: block;
  max-width: 100%;

  user-select: none;
  -webkit-user-drag: none;
}

#selectionBox {
  position: absolute;
  border: 2px solid;
  background: rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
}
